header{
    background-image: url(../Img/slider-1.png);
    height: 768px;
    width: 100%;
    div{
        div{
            border-bottom: 0.1rem solid $color-secondary;
            div{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                a{
                    img{
                        margin: 3.3rem 0rem;
                        @include margin;
                        cursor: pointer;
                    }
                }
                nav{
                    ul{
                        li{
                            list-style: none;
                            a{
                                color: $color-primary;
                                list-style: none;
                                margin-right: 5.7rem;
                                font-family: $font-secondary;
                                font-weight: $font-regular;
                                font-size: 1.6rem;
                                text-decoration: none;
                            }
                        }
                        display: flex;
                        flex-direction: row;
                        margin: 3.8rem 5.3rem 3.7rem 0rem;
                    }
                }
            }
        }
        h1{
            margin-top: 15.8rem;
            font-family: $font-primary;
            font-weight: $font-medium;
            font-size: 4.8rem;
            color: $color-primary;
            line-height: 4.8rem;
            @include margin;
            margin-bottom: 3rem;
        }
        h2{
            font-family: $font-secondary;
            color: $color-primary;
            font-weight: $font-regular;
            font-size: 1.6rem;
            line-height: 1.5;
            @include margin;
            margin-bottom: 3.9rem;
        }
        button{
            @include button;
            @include margin;
        }
        .slider{
            margin: 5.6rem 0rem 0rem 10.1rem;
            li{
                display: inline-block;
                margin: 0rem .5rem 0rem .5rem;
                a{
                    display: block;
                    font-size: 0;
                    line-height: 0;
                    display: block;
                    width: 1.2rem;
                    height: 1.2rem;
                    padding: .5rem;
                    color: transparent;
                    border: 0;
                    outline: none;
                    background-color: white;
                    opacity: 0.3;
                    border-radius: 5rem;
                    &.slider__1{
                        background-color: $color-secondary;
                        opacity: 1;
                    }
                }
            }
        }
    }
}