ul{
    padding-left: 0px;
}
a{
    text-decoration: none;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.container{
    margin-left: 101px;
    margin-right: 44px;
}
.nav-ul{
    list-style: none;
}
.nav-ul li{
    margin-right: 57px;
    font-family: 'Roboto Medium', arial;
    font-size: 16px;
    color: #ffffff;
    margin-top: 38px;
}
.h1-header{
    margin-top: 191px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 48px;
    color: #ffffff;
    line-height: 48px;
    letter-spacing: 0.67px;
}

.cont-header{
    background-image: url(../Img/slider-1.png);
    height: 768px;
}
.h2-header{
    font-family: 'Roboto Medium', arial;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.22px;
}
.cont-sec1{
    background-color: #ffffff;
    height: 672px;
}
.h1-pos{
    margin-top: 167px;
    margin-left: 299px;
    padding-top: 167px;
}
.h-font{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 39px;
    letter-spacing: 0.55px;
    line-height: 45px;
}
.p1-sec1{
    margin-top: 44px;
    margin-left: 299px;
    margin-right: 299px;
    font-family: 'Roboto Medium', arial;
    font-size: 15px;
    letter-spacing: 0.22px;
    line-height: 28px;
}
.span1{
    color: #343434;
}
.span2{
    color: #E0752F;
}
.footer{
    background-color: #343434;
    justify-content: space-between;
}
.p1-ft{
    margin-left: 101px;
    color: #DCE1DA;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    letter-spacing: 0.22px;
}
.img-ft{
    margin-right: 101px;
}
.block1{
    background-color: #E0752F;
    width: 32px;
    height: 384px;
    margin-top: 144px;
}
.block{
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: row;
}
.border{
    border-bottom: outset;
    border-bottom-color: #E0752F;
    border-bottom-width: thin;

}
